      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }

      .mat-form-field {
        width: 100%;
        min-width: 300px;
      }

      .login-page{
        height: 100vh;
        background: url(bg.png);
      }
      .login-page .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 9px 5px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}