<mat-toolbar color="primary"> 
	<span class="fnt-sze-16">NOTIFICATION</span>
	<span class="example-fill-remaining-space"></span>

	<span>	
  	<button mat-icon-button [matMenuTriggerFor]="menu" style="position: relative;bottom: 3px;">
  	<mat-icon matBadge="{{notification}}" matBadgeColor="warn" class="notification">notifications</mat-icon>
	</button>
    <span class="cdk-visually-hidden">
    	<mat-menu #menu="matMenu">
  							<button mat-menu-item class="notification-height">Updated Successfully</button>
  							<button mat-menu-item class="notification-height">Message</button>
		</mat-menu>
    </span>

    <span class="admin-p"><i class="material-icons">person_outline</i></span>
    <span class="fnt-sze-16">Admin</span>
  </span>
</mat-toolbar>
<div class="content">
	<div fxLayout="row" fxLayoutAlign="space-between">
		<div><span class="list-txt">Project List</span></div>
						<div fxLayout="row">
							<div class="margin-lft-rgt-15">
				<mat-form-field>
					<mat-label>PROJECT TYPE</mat-label>
					<mat-select>
						<mat-option *ngFor="let tile of tiles" value={{tile.projectname}}>{{tile.projectname}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label>STATUS</mat-label>
					<mat-select>
						<mat-option *ngFor="let tile of tiles" value={{tile.status}}>{{tile.status}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="margin-lft-rgt-15">
				<mat-form-field>
					<mat-label>DATE</mat-label>
					<mat-select>
						<mat-option *ngFor="let tile of tiles" value={{tile.date}}>{{tile.date}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
<button mat-raised-button color="primary">Create Project</button>
			</div>
	</div>
		</div>

	<div>
		<mat-grid-list cols="4" rowHeight="250px" gutterSize="10px">
			<mat-grid-tile *ngFor="let tile of tiles">
				<mat-card class="md-card-custom">
					<div fxLayout="row" fxLayoutAlign="space-between">
						<div>{{tile.date}}</div>
						<div>
							<button mat-icon-button [matMenuTriggerFor]="menu" style="position: relative;bottom: 12px;">
  							<mat-icon>more_horiz</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
  							<button mat-menu-item (click)="alert(tile)">Detail</button>
  							<button mat-menu-item (click)="edit()">Edit</button>
  							<button mat-menu-item (click)="delete()">Delete</button>
							</mat-menu>
						</div>
					</div>
					<span class="cld-txt">OG</span>
					<div class="txt-align-center" style="margin: 15px 0px;"><i class="material-icons fnt-45">cloud</i>
					</div>
					<div class="txt-align-center projectname"><span>{{tile.projectname}}</span>
					</div>
					<div class="txt-align-center" [ngClass]="{'red': tile.status == 'failed', 'green': tile.status == 'completed', 'orange': tile.status == 'In-progress', 'blue': tile.status == 'on-hold' }" style="font-size: 16px;font-weight: 500;">	<span>{{tile.status}}</span>
					</div>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>

