.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 54px;
}
.margin-lft-rgt-15{
	margin: 0px 15px;
}
.mat-form-field{
	width: 130px !important;
}
mat-form-field{
	width: 130px !important;
	font-size: 13px;
    
}
.mat-grid-tile .mat-figure {
   justify-content: center !important ;
   align-items: flex-start !important;
}
.md-card-custom{
	width: 275px;
    height: 210px;
}
    .txt-align-center{
    	text-align: center;
    }
    .fnt-45{
    	font-size: 45px;
    }
    .projectname{
    	font-size: 18px;
    font-weight: 500;
    color: grey;
    }
    .list-txt{
    	padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    }
